body {
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  padding: 0.2em;
  text-align: left;
}
/* Add styles here */
a{
  color:green;
}
a:visited{
  color:green;
}
a:hover{
  text-decoration:none;
}
.container p:first-of-type {
    font-size: 150%;
  }
  .container p:first-of-type::first-line {
    color: red;
  }
 table tr:nth-child(even) {
    background-color: #333;  /* Every other row */
    color: white;  /* White text */
  }