body {
  font: 1.2em / 1.5 sans-serif;
}
/* answer */
.alert {
    border: 2px solid grey; 
    
  }
.alert.stop {
    background-color: red;
    border-color: grey; 
  }


  .alert.go {
    background-color: green;
   
  }

   #special{
    background-color: yellow;
   
  }